@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Jost Regular";
  src: url("../fonts/Jost/static/Jost-Regular.ttf");
}
@font-face {
  font-family: "Jost Bold";
  src: url("../fonts/Jost/static/Jost-Bold.ttf");
}
@font-face {
  font-family: "Jost SemiBold";
  src: url("../fonts/Jost/static/Jost-SemiBold.ttf");
}
@font-face {
  font-family: "Jost Regular";
  src: url("../fonts/Jost/static/Jost-Regular.ttf");
}
@font-face {
  font-family: "Jost Light";
  src: url("../fonts/Jost/static/Jost-Light.ttf");
}
@font-face {
  font-family: "Jost Italic";
  src: url("../fonts/Jost/static/Jost-Italic.ttf");
}
@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter/static/Inter_18pt-Regular.ttf");
}
@font-face {
    font-family: "Jost Medium";
    src: url('../fonts/Jost/static/Jost-Medium.ttf');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 1440px;
}
h1 {
  font-family: "Bebas Neue";
  font-size: 100px;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}
.title {
  font-family: "Jost SemiBold";
  font-size: 50px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1px;
}
.sub-title {
  font-family: "Jost Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
}
span {
  font-family: "Jost Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 10px;
  // padding-right: 10px;
}
img {
  width: 100%;
  object-fit: cover;
}
section {
  display: flex;
  align-items: center;
  width: 100%;
}
.button {
  text-decoration: none;
  height: 70px;
  display: flex;
  align-items: center;
  color: #d12e36;
  background-color: white;
  border-radius: 1000px;
  font-size: 24px;
  font-family: "Jost SemiBold";
  font-weight: 600;
  max-width: 336px;
  width: 100%;
  position: relative;
  z-index: 10;
  transition: 0.3s;
  padding-left: 80px;
  svg {
    position: absolute;
    right: 5px;
  }
}
.button:hover {
  opacity: 0.7;
}
.tg {
  max-width: 348px;
  color: #263043;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  position: relative;
  .wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    height: 55px;
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    .title-header {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-size: 26px;
      font-family: "Bebas Neue";
      font-weight: 400;
    }
    .menu-header {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 10px;
      align-items: center;
      li a {
        text-decoration: none;
        transition: 0.3s;
      }
      li a:hover {
        opacity: 0.5;
      }

      li:first-child a {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: white;
        border-start-start-radius: 15px;
        border-end-start-radius: 15px;
        padding: 1px 0 1px 10px;
        span {
          font-size: 20px;
          color: black;
          font-size: 20px;
        }
        .icon-lang {
          width: 34px;
          height: 33px;
        }
      }
      // li:first-child a:hover{
      //     opacity:1;
      // }
    }
  }
}
.header-main {
  position: relative;
  width: 100%;
  height: 630px;
  background-color: rgba(238, 238, 238, 1);
  overflow: hidden;
  .fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .layer {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .ornament {
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    img {
      object-position: left bottom;
    }
  }
  .doctor {
    z-index: 2;
    right: 0;
  }
  .line {
    z-index: 3;
    right: 0;
    top: 11px;
  }
  .circle-big {
    position: absolute;
    top: 428px;
    right: 307px;
    z-index: 4;
  }
  .circle-left {
    position: absolute;
    top: 482px;
    right: 492px;
    z-index: 4;
  }
  .circle-right {
    position: absolute;
    top: 521px;
    right: 165px;
    z-index: 4;
  }
}
.header-main {
  .wrapper {
    z-index: 4;
    display: flex;
    .title-main-header {
      display: flex;
      flex-direction: column;
      max-width: 679px;
      width: 100%;
      span {
        font-size: 30px;
        width: 100%;
      }
    }
    .page {
      display: flex;
      flex-direction: column;
      margin-top: 86px;
      margin-left: 2px;
      max-width: 730px;
      .logotip {
        max-width: 639px;
        width: 100%;
        margin-bottom: 5px;
      }
      .text-main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
            font-size: 45px;
            line-height: 100%;
            }
        }
        .page-3{
            gap: 0px;
            .three-action{
                font-family: "Jost Medium";
                font-weight: 500;
            }
            span{
                line-height: 100%;
            }
            sup{
                font-size: 25px;
    
            }

        }
    }
  }
}
.about-us {
  background: rgba(238, 238, 238, 1);
  .wrapper {
    background-color: white;
    border-radius: 30px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 127px;
    .about-project {
      display: flex;
      gap: 20px;
      padding-left: 30px;
      position: relative;
      .project-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 40px;
        .title {
          color: rgba(209, 46, 54, 1);
        }
        .text-span {
          max-width: 496px;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
      .project-img {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 288px;
        .vector-2 {
          position: absolute;
          top: 0;
          right: 52px;
          max-width: 580px;
          width: 100%;
        }
        .strepsils-card {
          max-width: 360px;
          width: 100%;
          position: absolute;
          top: 53px;
          right: 249px;
        }
        .nurofen-card {
          max-width: 360px;
          width: 100%;
          position: absolute;
          bottom: 50px;
          right: 39px;
        }
        .Union {
          width: 47px;
          position: absolute;
          bottom: 113px;
          right: 303px;
        }
      }
    }
    .experts {
      display: flex;
      gap: 70px;
      position: relative;
      // overflow: hidden;
      .experts-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 550px;
        width: 100%;
        .sub-title {
          color: rgba(209, 46, 54, 1);
          padding-left: 30px;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-left: 30px;
          li {
            display: flex;
            align-items: start;
            gap: 7px;
          }
        }
        .line-2 {
          position: absolute;
          left: 0;
          top: -72px;
          z-index: 0;
        }
        .doctor-with-nerc {
          top: 196px;
          left: 0;
          position: absolute;
        }
      }
      .experts-right {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin: 0;
        padding: 0;
        max-width: 550px;
        width: 100%;
        li {
          height: 90px;
          display: flex;
          align-items: center;
          padding-left: 20px;
          gap: 21px;
          background-color: rgba(238, 238, 238, 1);
          border-radius: 30px;
          width: 100%;
          span {
            font-size: 30px;
          }
        }
        li:nth-child(2) {
          padding-left: 29px;
          span {
            margin-left: 13px;
          }
        }
        li:nth-child(3) {
          span {
            margin-left: 10px;
          }
        }
        li:nth-child(4) {
          span {
            margin-left: 4px;
          }
        }
        li:nth-child(5) {
          span {
            margin-left: 11px;
          }
        }
      }
    }
  }
}
.cards {
  background-color: #263043;
  .wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 80px 0 80px 0;
    .card-one {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #d12e36;
      color: white;
      max-width: 580px;
      width: 100%;
      height: 430px;
      border-radius: 30px;
      padding: 40px 0 20px 30px;
      position: relative;
      overflow: hidden;
      .fon-paint {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 1;
      }
      .text-card {
        max-width: 356px;
        width: 100%;
        z-index: 10;
        .title {
          line-height: 100%;
          letter-spacing: 0;
        }
        span {
          font-size: 40px;
          line-height: 100%;
        }
      }
    }
    .card-one:first-child {
      .button {
        margin-bottom: 12px;
      }
    }
    .card-one:last-child {
      background: #f2a83b;
      .button {
        color: #f2a83b;
      }
    }
  }
}
.article-more {
  background-color: rgb(238, 238, 238);
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 0 80px 0;
    .title {
      letter-spacing: 0;
    }
    .bold {
      font-weight: 700;
      letter-spacing: 1px;
    }
    .note {
      margin-top: -10px;
      font-size: 18px;
    }
    .articles {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 40px;
      .one-article {
        text-decoration: none;
        // height: 409px;
        width: 100%;
        border-radius: 30px;
        background-color: white;
        transition: 0.3s;
        .image-article {
          height: 220px;
          width: 100%;
          img {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            height: 100%;
          }
        }
        .text-article {
          display: flex;
          flex-direction: column;
          gap: 9px;
          padding: 20px 30px 0 30px;
          height: 190px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          .icon-article {
            color: #4f4f50;
            font-size: 16px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 8px;
          }
          span {
            font-size: 22px;
            font-weight: 700;
            font-family: "Jost Bold";
            color: #d12e36;
          }
        }
      }
      .one-article:first-child:hover {
        .image-article {
          border: 1px sold black;
          img {
            filter: blur(1px);
          }
        }
        .text-article {
          background-color: #d12e36;
          .icon-article {
            color: #4f4f50;
          }
          span {
            color: white;
          }
        }
      }
      .one-article:last-child {
        span {
          color: #f2a83b;
        }
      }
    }
  }
}
.Telegram {
  background-color: rgb(238, 238, 238);
  padding-top: 102px;
  padding-bottom: 160px;
  .wrapper {
    width: 100%;
    height: 317px;
    background-image: url("../assets/img/png/TG-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    .text-tg {
      padding: 35px 0 0 30px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .title {
        color: #263043;
        font-size: 40px;
        max-width: 432px;
        width: 100%;
        line-height: 120%;
        letter-spacing: 0px;
      }
    }
    .image-phone {
      position: absolute;
      bottom: -3px;
      right: 135px;
    }
    .phone-text {
      position: absolute;
      bottom: 21px;
      right: 246px;
      font-family: "Inter Regular";
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      text-align: center;
      max-width: 209px;
      width: 100%;
    }
  }
}
.info {
  background-color: rgb(238, 238, 238);
  padding-bottom: 11px;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    font-family: "Jost Light";
    font-weight: 300;
    font-size: 12px;
    color: #878787;
    ol {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding: 0;
      padding-left: 18px;
      margin: 0;
      width: 100%;
    }
    .streprils-page {
      margin-bottom: 10px;
    }
    .tag{
        font-family: "Jost Light";
        font-weight: 300;
        font-size: 12px;
        color: #878787;
    }
    span {
      color: #878787;
      font-family: "Jost Light";
      font-weight: 300;
      font-size: 37px;
      line-height: 100%;
      text-transform: uppercase;
      width: 100%;
      padding-left: 8px;
    }
  }
}
footer {
  background-color: #263043;
  .wrapper {
    display: flex;
    width: 100%;
    gap: 90px;
    padding-top: 40px;
    padding-bottom: 37px;
    .logo {
      text-decoration: none;
      color: #f2a83b;
      font-family: "Jost SemiBold";
      font-size: 35px;
      font-weight: 600;
      line-height: 120%;
      display: flex;
      align-items: center;
    }
    .information {
      display: flex;
      align-items: center;
      gap: 40px;
      .contact-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 476px;
        width: 100%;
        span {
          color: white;
          font-size: 12px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      .menu-info {
        display: flex;
        flex-direction: column;
        gap: 23px;
        color: white;
        .list-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            color: white;
            font-family: "Jost Italic";
            font-size: 12px;
            font-weight: 400;
            line-height: 120%;
            transition: 0.3s;
          }
          a:hover {
            opacity: 0.5;
          }
        }
        .info-date {
          display: flex;
          align-items: center;
          gap: 21px;
          .title {
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
.medications {
  background-color: rgb(238, 238, 238);
  .wrapper {
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .sub-title {
      font-size: 50px;
      font-weight: 700;
      line-height: 100%;
    }
    .cards-medication {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 418px 189px 189px;
      gap: 40px;
      .block-one {
        display: flex;
        gap: 20px;
        background-color: white;
        border-radius: 30px;
        padding-left: 20px;
        position: relative;
        svg {
          flex-shrink: 0;
        }
        .text-card-medic {
          display: flex;
          flex-direction: column;
          gap: 10px;
          z-index: 100;
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
              position: relative;
              padding-left: 21px;
            }
            li::before {
              content: "";
              position: absolute;
              background-image: url("../assets/img/svg/befor-li.svg");
              background-repeat: no-repeat;
              background-size: cover;
              top: 0;
              left: 0;
              width: 16px;
              height: 21px;
            }
          }
          .two_in_one {
            font-size: 22px;
            font-weight: 700;
            font-family: "Jost Bold";
            line-height: 120%;
          }
        }
      }
      .big-block {
        align-items: start;
        padding-top: 52px;
        .text-card-medic {
          span {
            font-size: 24px;
            line-height: 100%;
            sup {
              font-size: 16px;
            }
          }
        }

        .img-medic {
          position: absolute;
          bottom: -11px;
          left: 105px;
          max-width: 490px;
          width: 100%;
        }
      }
      .two-img-block {
        align-items: start;
        padding-top: 39px;
        .text-card-medic {
          max-width: 275px;
          width: 100%;
          span {
            sup {
              font-size: 12px;
            }
          }
        }
        .spray {
          position: absolute;
          max-width: 190px;
          top: 62px;
          right: 7px;
          width: 100%;
        }
        .spray-12 {
          position: absolute;
          max-width: 36px;
          right: 73px;
          top: 48px;
          width: 100%;
        }
        .strep-intens {
          position: absolute;
          max-width: 245px;
          top: 263px;
          right: -10px;
          width: 100%;
        }
      }
      .small-block {
        align-items: center;

        .text-card-medic {
          span {
            font-size: 22px;
            line-height: 120%;
            sup {
              font-size: 12px;
            }
          }
          ul {
            li::before {
              top: 8px;
            }
          }
        }

        .streps-blue6 {
          position: absolute;
          top: 16px;
          right: -28px;
          max-width: 233px;
          width: 100%;
        }
        .streps-VitC {
          position: absolute;
          top: 31px;
          right: 19px;
          max-width: 168px;
          width: 100%;
        }
        .streps-VitC-6 {
          position: absolute;
          max-width: 36px;
          top: 20px;
          right: 12px;
          width: 100%;
        }
        .streps-orang6 {
          position: absolute;
          max-width: 230px;
          top: 0;
          right: 0;
          width: 100%;
        }
        .streps-pink {
          position: absolute;
          max-width: 264px;
          width: 100%;
          top: 15px;
          right: -29px;
        }
      }
    }
  }
}
